
body {
font-family: Arial;
display: flex;
flex-direction: column;
height: 100vh;
margin: 0;
}

main {
flex: 1;
display: grid;
grid-template-columns: 1fr 1fr;
}

#map { height: 100%; }

.carousel {
display: flex;
align-items: center;
justify-content: center;
}

.foto-container {
width: 90%;
}

.foto-container img {
width: 100%;
border-radius: 8px;
}

.info {
background: #eee;
padding: 10px;
margin-top: 5px;
border-radius: 5px;
}

.controls {
display: flex;
gap: 10px;
margin-top: 10px;
justify-content: center;
}

button { cursor: pointer; }

